@{
    ViewData["Title"] = "arquivo index do teste ";

}
<div class="text-center">
    <h1 class="display-4">Teste</h1>
    <h2>@ViewData["Mensagem"]</h2>
    <h3>@ViewData["Email"]</h3>
    <h4>@ViewData["Nome"] </h4>
    <h5>@ViewData["materia"] </h5>
    <h6>@ViewData["Dias de aula"]</h6>
    <h7>@ViewData["Bim"]</h7>
</div>